@import "nhsuk-frontend/dist/nhsuk";

.app-registry-bar, .app-patient-bar {
  background-color: #fff;
  border-bottom: 1px solid $nhsuk-border-colour;
}

.app-registry-bar__content, .app-patient-bar__content {
  padding: 16px 0;
}

.app-registry-bar__name, .app-patient-bar__name {
  margin-left: nhsuk-spacing(1);
}

.app-registry-bar__change, .app-patient-bar__change {
  margin-left: nhsuk-spacing(3);
}

.nhsuk-radios__label--numbered {
  display: grid;
  grid-template-columns: 2ch 1fr;
  column-gap: 0.5rem;
}

.float-right {
  float: right;
}

@import "../stylesheets/moj-sub-nav.css";
