{% extends '../../layout.html' %}
{% set pageName = "Enter weight" %}
{% set currentSection = "record-procedure" %}
{% set showPatientInfo = false %}
{% block beforeContent %}
<a class="nhsuk-back-link" href="#">
  Back
</a>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form class="form" action="/record-procedure/patient/enter-email" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Enter the patient's email address
            </h1>
          </legend>

          <div class="nhsuk-input-wrapper">
            <input class="nhsuk-input" id="weight" name="emailAddress" type="email" value="">
          </div>

        </fieldset>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}