{% extends '../../layout.html' %}
{% set pageName = "Clinicians" %}
{% set currentSection = "record-procedure" %}

{% block beforeContent %}
<a class="nhsuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">Clinicians</h1>

    {% set responsible = data.responsibleConsultant %}
    {% set supervising = data.supervisingSurgeon %}
    {% set leadSurgeons = data.leadSurgeons or [] %}

    <h2 class="nhsuk-heading-m">Operation responsible consultant</h2>
    {% if responsible %}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading nhsuk-heading-s">
            {{ responsible.title }} {{ responsible.firstName }} {{ responsible.lastName }}
          </h3>
          <p class="nhsuk-card__description">
            {{ responsible.role }}<br>
            <strong>GMC number:</strong> {{ responsible.gmc }}
          </p>
        </div>
      </div>
    {% else %}
      <p class="nhsuk-body">Not added yet.</p>
    {% endif %}

    <h2 class="nhsuk-heading-m">Operation supervising surgeon</h2>
    {% if supervising %}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading nhsuk-heading-s">
            {{ supervising.title }} {{ supervising.firstName }} {{ supervising.lastName }}
          </h3>
          <p class="nhsuk-card__description">
            {{ supervising.role }}<br>
            <strong>GMC number:</strong> {{ supervising.gmc }}
          </p>
        </div>
      </div>
    {% else %}
      <p class="nhsuk-body">Not added yet.</p>
    {% endif %}

    <h2 class="nhsuk-heading-m">Operation lead surgeon{% if leadSurgeons.length != 1 %}s{% endif %}</h2>
      <div class="nhsuk-inset-text nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-4"><p class="nhsuk-body">You can add up to 4 operation lead surgeons.</p></div>
    {% if leadSurgeons.length %}
      {% for c in leadSurgeons %}
        <div class="nhsuk-card nhsuk-u-margin-bottom-4">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-s">
              {{ c.title }} {{ c.firstName }} {{ c.lastName }}
            </h3>
            <p class="nhsuk-card__description">
              {{ c.role }}<br>
              <strong>GMC number:</strong> {{ c.gmc }}
            </p>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="nhsuk-body">No lead surgeons added yet.</p>
    {% endif %}

    {% if leadSurgeons.length < 4 %}
    {% else %}
      <p class="nhsuk-body">You have added the maximum of 4 operation lead surgeons.</p>
    {% endif %}
      <a role="button" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-2" href="/record-procedure/clinician/operation-lead-surgeon">
        Add another operation lead surgeon
      </a>
    <form class="form" action="/record-procedure/clinician/clinicians-summary" method="post">
      <button class="nhsuk-button nhsuk-u-margin-top-6" data-module="nhsuk-button" type="submit">Confirm and continue</button>
    </form>

  </div>
</div>
{% endblock %}
