{% extends '../../layout.html' %}
{% set pageName = "Operation supervising surgeon" %}
{% set currentSection = "record-procedure" %}

{% block beforeContent %}
<a class="nhsuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form class="form" action="/record-procedure/clinician/supervising-surgeon" method="post">
      <div class="nhsuk-form-group">
        <h1 class="nhsuk-heading-l">Who is the operation supervising surgeon?</h1>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="supervising-surgeon-gmc">
            GMC number
          </label>
          <div class="nhsuk-hint" id="supervising-surgeon-gmc-hint">For example, 1234567</div>

          <input
            class="nhsuk-input nhsuk-input--width-10"
            id="supervising-surgeon-gmc"
            name="supervisingSurgeonGmc"
            type="text"
            inputmode="numeric"
            autocomplete="off"
            aria-describedby="supervising-surgeon-gmc-hint"
            value="{{ data.supervisingSurgeonGmc }}"
          >
        </div>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
    </form>

  </div>
</div>
{% endblock %}
