{% extends '../../layout.html' %}
{% set pageName = "Procedure date" %}
{% set currentSection = "record-procedure" %}

{% block beforeContent %}
<a class="nhsuk-back-link" href="#">
  Back
</a>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form class="form" action="/record-procedure/procedure/procedure-date" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Is the procedure today?
            </h1>
          </legend>

          <div class="nhsuk-radios" data-module="nhsuk-radios">

            <!-- YES -->
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="procedureDateToday-yes" name="procedureDateToday" type="radio"
                value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="procedureDateToday-yes">
                Yes
              </label>
            </div>

            <!-- NO -->
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="procedureDateToday-no" name="procedureDateToday" type="radio"
                value="no" aria-controls="conditional-procedure-date">
              <label class="nhsuk-label nhsuk-radios__label" for="procedureDateToday-no">
                No
              </label>
            </div>

            <!-- CONDITIONAL DATE -->
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-procedure-date">

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                    <strong>Date of procedure</strong>
                  </legend>

                  <div class="nhsuk-date-input" id="procedure-date">

                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="procedureDateDay">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="procedureDateDay"
                          name="procedureDateDay" type="text" inputmode="numeric">
                      </div>
                    </div>

                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="procedureDateMonth">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="procedureDateMonth"
                          name="procedureDateMonth" type="text" inputmode="numeric">
                      </div>
                    </div>

                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="procedureDateYear">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="procedureDateYear"
                          name="procedureDateYear" type="text" inputmode="numeric">
                      </div>
                    </div>

                  </div>
                </fieldset>
              </div>

            </div>
          </div>
        </fieldset>
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}