{% extends "../layout.html" %}
{% set pageName = "Record a procedure" %}

{% block beforeContent %}
<a class="nhsuk-back-link" href="#">
  Back
</a>
{% endblock %}

{% block content %}

<form method="post" action="check-your-answers">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Record a procedure</h1>
      <ul class="nhsuk-task-list">
        {% if data.journey == "addProcedure" %}
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint">
            <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state"
              href="{% if data.patientInfoComplete %}../record-procedure/patient/confirm-patient{% else %}../record-procedure/patient/has-nhs-number{% endif %}"
              aria-describedby="your-health-1-status">
              Patient details
            </a>
          </div>
          {% if data.patientInfoComplete %}
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-1-status">
            Completed
          </div>
          {% else %}
          <div class="nhsuk-task-list__status" id="your-health-2-status">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Incomplete
            </strong>
          </div>
          {% endif %}
        </li>
        {% endif %}
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint">
            <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state"
              href="../record-procedure/procedure/procedure-date" aria-describedby="your-health-2-status">
              Enter procedure details
            </a>
          </div>
          {% if data.procedureDetailsComplete %}
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-1-status">
            Completed
          </div>
          {% else %}
          <div class="nhsuk-task-list__status" id="your-health-2-status">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Incomplete
            </strong>
          </div>
          {% endif %}
        </li>
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint">
            <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state" href="/record-procedure/devices/add-devices"
              aria-describedby="your-health-3-status">
              Record device information
            </a>
          </div>
          {% if data.deviceDetailsComplete == true %}
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-1-status">
            Completed
          </div>
          {% else %}
          <div class="nhsuk-task-list__status" id="your-health-2-status">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Incomplete
            </strong>
          </div>
          {% endif %}
        </li>
        <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
          <div class="nhsuk-task-list__name-and-hint">
            <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state"
              href="/record-procedure/clinician/clinicians-summary" aria-describedby="your-health-2-status">
              Enter clinician details
            </a>
          </div>
          {% if data.clinicianDetailsComplete %}
          <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="your-health-1-status">
            Completed
          </div>
          {% else %}
          <div class="nhsuk-task-list__status" id="your-health-2-status">
            <strong class="nhsuk-tag nhsuk-tag--blue">
              Incomplete
            </strong>
          </div>
          {% endif %}
        </li>
      </ul>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Finish recording procedure
      </button>

    </div>
  </div>
</form>

{% endblock %}