
{% extends 'layout.html' %}
{% set noNavigation = true %}
{% set pageName = "Start page" %}
{% set showPatientInfo = false %}
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
<h1 class="nhsuk-heading-xl">{{ serviceName }} prototype</h1>
      
      <p>This is the prototype for the Outcomes and Registries Programme, showing designs for inputting registry information.</p>
      <ul class="nhsuk-list nhsuk-list--no-bullets">
      <li><a href="start-prototype?journey=singlePatientView" class="nhsuk-u-margin-top-4">Single patient view</a></li>
      <li><a href="start-prototype?journey=addProcedure" class="nhsuk-u-margin-top-4">Add a procedure journey (standalone)</a></li>
</ul>

    </div>
  </div>
{% endblock %}
