
{% extends 'layout.html' %}
{% set noNavigation = true %}
{% set pageName = "Start page" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
<h1 class="nhsuk-heading-xl">{{ serviceName }} prototype</h1>
      
      <p>This is the prototye for the Outcomes and Registries Programme, showing designs for inputting registry information.</p>
      <a href="record-procedure/barcode-scanner" class="nhsuk-button nhsuk-u-margin-top-4">Start prototype</a>




    </div>
  </div>
{% endblock %}
