{% extends '../../layout.html' %}
{% set pageName = "Scan a device" %}
{% set currentSection = "record-procedure" %}
{% set shouldAutofocus = data.hasScanner == true %}

{% block beforeContent %}
<a class="nhsuk-back-link" href="/record-procedure/devices/add-devices">Back</a>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
{% if data.deviceScanError %}
    <div class="nhsuk-error-summary" data-module="nhsuk-error-summary">
  <div role="alert">
    <h2 class="nhsuk-error-summary__title">
      There is a problem
    </h2>
    <div class="nhsuk-error-summary__body">
      <p>
        You have already added this device. 
      </p>
      <ul class="nhsuk-list nhsuk-error-summary__list">
        <li>
          <a href="scanned-udi-error-error"> {{ data.deviceScanError }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}
    <form class="form" action="/record-procedure/devices/scan-device" method="post">
      <h1 class="nhsuk-heading-l">Scan a device</h1>
      <div class="nhsuk-form-group{% if data.deviceScanError %} nhsuk-form-group--error{% endif %}">
        <div class="nhsuk-hint" id="scanned-udi-hint">
          Scan the device's barcode.
        </div>
        {% if data.deviceScanError %}<span id="scanned-udi-error-error" class="nhsuk-error-message">{% endif %}
      <span class="nhsuk-u-visually-hidden">Error:</span> {{ data.deviceScanError }}
    </span>
       <input
          class="nhsuk-input"
          id="scanned-udi"
          name="scannedUdi"
          type="text"
          value="{{ data.scannedUdi }}"
          aria-describedby="scanned-udi-hint{% if data.deviceScanError %} scanned-udi-error{% endif %}"
          {% if shouldAutofocus and not data.deviceScanError %}autofocus{% endif %}
        >
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
    </form>

  </div>
</div>
{% endblock %}
